<div class="params">
  <%= params['task_list'] %>

</div>



<section>
  <form action="/task-form" method="post" accept-charset="UTF-8">
  <fieldset>
    <legend>Task List Input Field</legend>
    <input placeholder="task" type="text" name="task_list[title]" value="" id="ghgh">
    <input placeholder="description" type="text" name="task_list[description]" value="" id="list">

    <label for="ghgh">Insert Task Here: </label>
    <input type="submit" value="Submit"></a>
    </fieldset>
  </form>
</section>

<footer>
</footer>
