<div class="params">
  <%= params['task_list'] %>

</div>



<section>
  <form action="/task-form" method="post" accept-charset="UTF-8">
  <fieldset>
    <legend>Task List Input Field</legend>
    <label for="list">Insert Task Here: </label>
    <input type="text" name="task_list[title]" value="" id="list">
    <input type="text" name="task_list[description]" value="" id="list">
  </fieldset>

    <input type="submit" value="Submit"></a>
  </form>
</section>

<footer>
</footer>
