<!--this will have a form that will allow the user to edit their stuff -->

<section>
  <form action="/test" method="post" accept-charset="UTF-8">
  <fieldset>
    <input type="checkbox" name="completed_at" value="yes">
    <input type="hidden" name="id" value='1'>

  </fieldset>

    <input type="submit" value="Submit"></a>
  </form>
</section>
