table {
    border-collapse: collapse;
}

td {
  padding-right: 20px;
  padding-left: 10px;
  height: 25px;
}

.tableheader td{
  font-size: 1.05rem;
  font-weight: 600;
}

.currentpage{
  color:#0c7113;
  /*background-color: #b1d3f7;*/
}

.homeheader {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 0.1vw;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  color: #2a1807;
  height: 15%;
  display: inline-flex;
  margin-bottom: 30px;
}

h1{
  margin: 0;
  padding: 0;
  /*width: 350px;*/
  color: initial;
  font-size: 35px;
  display: inline-flex;
  margin-top: 0.2%;
  margin-left: 20px;
}

.divider{
  font-size: 2vw;
}


header a{
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #2a1807;
  text-decoration: none;
  font-size: 20px;

    /*text-align: center;*/

  /*vertical-align:center;*/
}

header li{
  margin: 0 auto;
  padding: 0 8px 0 8px;
  /*align-items: center;*/
  clear: left;
  display: inline-block;
  margin:0 auto;
  /*padding-top: 0.5%;*/
  padding-bottom: 0;
  margin-top:0.8%;

}

header li a:hover{
  color: #0c7113;
}

nav ul{
    padding: 0;
    margin: 0;
    width: 87%;
    display: block;
    text-align: right;
    position: fixed;
}

input {
  margin-left: 10px;
}
